main {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
h1
{
    font-family: var(--titulo);
    font-size: 40px;
    color: #575757;
}
.login-group {
    width: 500px;
    height: 600px;
    padding: 10px;
    display: flex;
    font-weight: bolder;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;    
    background: linear-gradient(white, #d9d9d9);
    border: 5px solid var(--secondary-color);
}

button 
{
    width: 40vw;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}
img 
{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}
img:hover 
{
    opacity: 1;
    cursor: pointer;
}

.form-control {
    width: 40%;
    text-align: center;
    background: red;
    color: rgb(255, 255, 255);
    font-family: var(--texto);
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 5px;

}
.form-control::placeholder {
    color: white;
    opacity: 1;
}


.form-control:focus {
    background: transparent;
    color: red;
}

.form-control:focus::placeholder {
    background: none;
    color: red;
}

.buttonbox {
    position: absolute; 
    top: 7%; 
    transform: translateX(-200%); 
    display: block;
   
}