
<body>
    <main style="background-image: url('assets/img/fondoImg.png'); background-size: cover;">
        <form (ngSubmit)="editCar()">
            <div class="login-group">
                <div class="buttonbox" routerLink="/cars">
                    <img class="icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/150579/closing_only_264.gif">
                  </div>
                <h1>Actualiza un coche</h1>
                    <input type="text" class="form-control" name="marca" [(ngModel)]="car.marca" placeholder="Marca">
                    <input type="text" class="form-control" name="modelo" [(ngModel)]="car.modelo" placeholder="Modelo">
                    <input type="text" class="form-control" name="matricula" [(ngModel)]="car.matricula" placeholder="Matricula">
                    <input type="number" class="form-control" name="anoFabricacion"[(ngModel)]="car.anoFabricacion" placeholder="Año Fab.">
                    <input type="number" class="form-control"  name="kilometraje" [(ngModel)]="car.kilometraje" placeholder="Km">
                    <input type="number" class="form-control"  name="potencia"[(ngModel)]="car.cv" placeholder="Cv">
                    <input type="text" class="form-control"  name="color" [(ngModel)]="car.color" placeholder="Color">
                    <input type="text" class="form-control"  name="combustible" [(ngModel)]="car.combustible" placeholder="Combustible">
            <div class="btn">
                <button type="submit">
                    <img src="https://static.vecteezy.com/system/resources/previews/009/304/571/non_2x/start-and-stop-engine-button-clipart-design-illustration-free-png.png" alt="">
                </button>
            </div>
        </div>

            </form> 
    </main>
</body>
