<body>

    <main style="background-image: url('assets/img/inicioImg.png'); background-size: cover;">
      <div class="contenedorTexto">
        <button class="entradaBtn">
          <h2 class="entrada" routerLink="/login">Entra a tu Garaje!</h2>
        </button>
      </div>
      <div class="boton1">
        <button routerLink="" data-bs-toggle="modal" data-bs-target="#profile-dialog">
          <img src="./assets/img/info.png" alt="">
        </button>
      </div>
    </main>
  
  <div tabindex="-1" class="modal pmd-modal fade pmd-profile-modal" id="profile-dialog" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="pmd-profile-modal-header ">
                      <span class="pmd-profile-modal-header-bg-img" style="background-image:url(https://pro.propeller.in/assets/images/Keith-Dowd.png);"></span>
                      <div class="pmd-avatar-circle">
                          <img style="width: 200px; height: 150px;" src="https://static.dw.com/image/57436256_605.jpeg" alt="Propeller Pro Profile Detail Modal">
                      </div>
                      <div class="pmd-profile-modal-info">
                          <h3 class="card-title text-black">Fernando</h3>
                          <p class="card-subtitle mb-2 text-black">CEO de Garage Stories 😂 </p> 
                          <a href="javascript:void(0);" title="Twitter" class="btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-light mr-1">
                              <i class="pmd-svg-icons pmd-sm md-dark">
                                  <svg viewBox="0 0 543.684 543.684"></svg>
                              </i>
                          </a>
                          <a href="javascript:void(0);" title="Linkedin" class="btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-light">
                              <i class="pmd-svg-icons pmd-sm md-dark">
                                  <svg viewBox="0 0 552.77 552.77"></svg>
                              </i>
                          </a>
                      </div>
                  </div>
                  <div class="pmd-profile-modal-bio">
                      <p>Texto 1</p>
                      <p>Texto 2</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
  </body>
  
    
    
    
    
  