<body>
    <div class="presentacion">
      <div class="opciones">
        <div class="boton2" routerLink="/add-cars">
          <button><img src="./assets/img/addCarImg.png" alt=""> </button>          
        </div>
      </div>
      <div class="nombre">
        <h1>Hola <span class="name">{{ userService.user.nombre }}</span>, </h1>
        <h3>Actualmente tienes <span class="name">{{ numeroCoches }}</span> coches</h3>
      </div>
      <div class="opciones1">
        <div class="boton3">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="./assets/img/delCarImg.png" alt="">
            </button>             
        </div>
        <div class="boton4" routerLink="/update-cars">
          <button><img src="./assets/img/updCarImg.png" alt=""> </button>
        </div>
      </div>
    </div>
    <div class="cardsCars" *ngFor="let car of cars">
      <app-card-cars [idUsuario]="userService.logueadoId"></app-card-cars>
    </div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Elimina un Vehículo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" [(ngModel)]="matriculaEliminar" placeholder="Introduce la matricula a eliminar" style="background-color: white; color:red; border: 1px dotted red; text-align: center;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="font-family: var(--texto);" (click)="eliminarCoche()">Eliminar</button>
      </div>
    </div>
  </div>
</div>


  
</body>
  