
<body>
    <main style="background-image: url('assets/img/fondoImg.png'); background-size: cover;">
        <form (submit)="onSubmit()">
            <div class="login-group">
              <div class="buttonbox" routerLink="/cars">
                <img class="icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/150579/closing_only_264.gif">
        </div>
<h1>Actualiza tus datos</h1>
              <input type="text" class="form-control" name="nombre" [(ngModel)]="user.nombre" placeholder="Nombre">
              <input type="text" class="form-control" name="apellidos" [(ngModel)]="user.apellidos" placeholder="Apellidos">
              <input type="number" class="form-control" name="edad" [(ngModel)]="user.edad" placeholder="Edad">
              <input type="text" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email">
              <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password">
              <div class="btn">
                <button type="submit">
                  <img src="https://static.vecteezy.com/system/resources/previews/009/304/571/non_2x/start-and-stop-engine-button-clipart-design-illustration-free-png.png" alt="">
                </button>
              </div>
            </div>
        </form>
    </main>
</body>
