body {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--third-color);
  }
  
  body a {
    color: red;
    opacity: 0.5;
    text-decoration: none;
    font-family: var(--texto);
    cursor: pointer;
  }
  
  body a:hover {
    opacity: 1;
  }
  
  .active {
    font-weight: bold;
    color: greenyellow;
  }
  
  
  
  .logout {
    cursor: pointer;
    position: relative;
    width: 38px;
    height: 38px; 
    overflow: hidden;
  }
  
  .logout .doorway {
    perspective: 100px;
    position: absolute;
    width: 20px;
    height: 45px;
    border: 2px solid black;
    background-color: #fff;
  }
  
  .logout .doorway .door {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform-origin: right center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: red;
  }
  
  .logout .arrow {
    transition: right 1s;
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 0px;
  }
  
  .logout .arrow:before {
    display: block;
    content: '';
    height: 0;
    position: absolute;
    top: -10px;
    left: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 20px solid transparent;
    
  }
  
  .logout:hover .door {
    transform: rotateY(-45deg);
  }
  
  .logout:hover .arrow {
    right: 100px;
  }
  
  
    
