<body>
  <ng-container *ngIf="!userService.logueado" [ngStyle]=>
    
  </ng-container>
  
  <!-- ******************************************************************* -->
  
  <ng-container *ngIf="userService.logueado" class="header2">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/cars" routerLinkActive="active">Coches</a>
      <a routerLink="/profile" routerLinkActive="active">Perfil</a>
      <div class="logout">
          <div class="doorway">
            <div class="door"></div>
            <a routerLink="/" routerLinkActive="active"></a>
          </div>
          <div class="arrow"></div>
      </div> 
  </ng-container> 
</body>



