<ul class="timeline">
    <li *ngFor="let mantenimiento of mantenimientos; let index = index">
      <div [ngClass]="{'direction-r': isEven(index), 'direction-l': !isEven(index)}">
        <div class="flag-wrapper">
          <span class="flag">{{ mantenimiento.titulo }}</span>
          <span class="time-wrapper"><span class="time">{{ mantenimiento.fecha | date: 'dd/MM/yyyy' }}</span></span>
        </div>
        <div class="desc">{{ mantenimiento.descripcion }}</div>
      </div>
    </li>
</ul>