<form>
    <div class="login-group">
      <h2>LOGIN</h2>
      <div class="form-control">
        <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email" #emailId="ngModel"
          [ngClass]="{ 'is-invalid': (emailId.dirty || emailId.touched) && emailId.invalid }" email required>
        <div *ngIf="(emailId.dirty || emailId.touched) && emailId.invalid" class="form-control-error">
          <div class="hueco">
            <div *ngIf="emailId.errors?.['required']">Email obligatorio</div>
            <div *ngIf="emailId.errors?.['email']">Email no válido</div>
            <img class="engine" src="./assets/img/avisoError.png">
          </div>
        </div>
      </div>
      <div class="form-control">
        <input type="password" class="form-control" name="password" placeholder="Contraseña"
          [(ngModel)]="user.password" #passwordId="ngModel"
          [ngClass]="{ 'is-invalid': (passwordId.dirty || passwordId.touched) && passwordId.invalid }" minlength="8"
          required>
        <div *ngIf="(passwordId.dirty || passwordId.touched) && passwordId.invalid" class="">
          <div class="hueco">
            <div *ngIf="passwordId.errors?.['required']">Clave obligatoria</div>
            <img class="engine" src="./assets/img/avisoError.png">
          </div>
        </div>
      </div>
      <div class="btn">
        <button type="submit">
          <img
            src="https://static.vecteezy.com/system/resources/previews/009/304/571/non_2x/start-and-stop-engine-button-clipart-design-illustration-free-png.png"
            alt="">
        </button>
      </div>
      <div class="register-link">
        ¿No tienes una cuenta?<a href="/register">Registrate</a> o
        <a href="/"> Vuelve a inicio</a>
      </div>
      <div class="register-link">
  
      </div>
    </div>
  </form>
  